footer {
    background-color: $darkgrey;
    color: white;
    padding: 2rem;
}

.footer__title {
    font-family: "Shrikhand", "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer__items {
    margin-top: 1rem;
    padding: 0;
    list-style-type: none;

    & li {
        padding: 0.2rem;
        & a {
            text-decoration: none;
            color: inherit;
        }
        }
    }