
.header {
    background-color: white;
    margin: 0;
    position: relative;
}

.header__logo {
    margin: 0;
    pad: 1rem;
    box-shadow: 0rem 0rem 0.5rem #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
       width: 11.25rem;
    };
}



.explorer {
    text-align: center;
    &__bold {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 3rem;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }
    &__subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }
    button {
        color: white;
        font-weight: 300;
        font-size: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        background-image: linear-gradient(to top, $colour-primary, $colour-secondary);
        cursor: pointer;
        transition-duration: .25s;
        margin-top: 2.5rem;
        @include base-shadow;
        &:hover {
            transform: scale(1.82);
            opacity: 0.9;
        }
    }
  }
