@use "../utils/mixins";
.header {
    background-color: white;
    margin: 0;
    position: relative;
}

.header__logo {
    margin: 0;
    padding: 1rem;
    box-shadow: 0rem 0rem 0.5rem #919191;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
       width: 11.25rem;
    };
}



.explorer {
    text-align: center;
    &__bold {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1rem 3rem;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
    }
    &__subtitle {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }
    button {
        color: white;
        font-weight: 300;
        font-size: 1rem;
        padding: 1rem 2rem;
        border: none;
        border-radius: 2rem;
        @include gradient(-10deg);
        cursor: pointer;
        transition-duration: .25s;
        margin-top: 2.5rem;
        @include base-shadow;
        &:hover {
            transform: scale(1.05);
            transition: all 80ms ease-in;
            filter: brightness(1.05);
        }
    }
  }

  .loader {
    $animation-duration: 1s;
    $animation-count: 2;
    position: fixed;
    display: grid;
    place-items: center;
    background: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.9;
    animation: disappear 200ms $animation-duration * $animation-count forwards;
    transform-origin: top;
    &::after {
        content: "";
        height: 6.3rem;
        width: 6.3rem;
        border-right: 0.3rem solid transparent;
        border-top: 0.3rem solid $colour-primary;
        border-radius: 50%;
        animation: spin $animation-duration infinite ease-in-out;
        animation-iteration-count: 2;
    }
    i {
        animation: spin 3s infinite linear;

    }
  }

  @keyframes disappear {
    to {
        transform: scale(0);
    }
  }

  @keyframes spin {
    to {
        transform: rotate(360deg);
    }
  }
