@use "../utils/mixins";
.restaurants {
    background-color: $grey;
    margin: 1.5rem 0 0 0;
    @media (min-width:992px) {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}


.restaurant__list {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
   }
    
}

.restaurant__list__card {
    background-color: white;
   border-radius: 1rem;
   position: relative;
   text-decoration: none;
   color: inherit;
   display: block;
   @include base-shadow;
}

.restaurant__list__card__image {
    border: 0 solid transparent;
    border-radius: 1rem 1rem 0  0;
    box-shadow: none;
    object-fit: cover;

    &::before {
        content: "Nouveau";
        position: absolute;
        padding: 0.5rem;
        font-family: "Roboto", "sans-serif";
        font-size: 0.8rem;
        color: #1b6150;
        background-color: #99e2d0;
        top: 1rem;
        right: 1rem;
        border-radius: 0.25rem;
    }

    
    & img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        border-radius: 0.9rem 0.9rem 0 0;
    }

}

.restaurant__list__card__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.restaurant__list__card__body__title {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.restaurant__list__card__body__title__h3 {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.3rem;
}

.restaurant__list__card__body__title__location {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    padding: 0.3rem;
}

.heart {
    position: relative;
    & i {
        font-size: 1.5rem;
    }

    & .fas {
        position: absolute;
        opacity: 0;
        @include gradient (180deg);
        cursor: pointer;
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;

    }

    &:hover .fas {
        transition: all 150ms ease-in;
        display: inline;
        opacity: 1;
    }

    &:hover .far {
        transition: all 150ms ease-in;
        opacity: 0;
    }
}