@mixin base-shadow {
    box-shadow: 0rem 0.2rem 0.5rem 0.1rem #D5D5D5;
}

@mixin btn-lighten($color:$colour-primary) {
    background-color: lighten($color: $colour-primary, $amount: 25);
}

// gradiant //
@mixin gradient ($degree) {
    background: $colour-primary;
    background:linear-gradient(($degree), $colour-primary 25%, $colour-secondary 100%)
}